<% if @registered_application.destroyed? %>
  $(<%= dom_id( @registered_application ) %>).fadeOut(900);
<% else %>
  $(<%= dom_id( @registered_application ) %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>