<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>
          Welcome to BlocMetrics
        </h2>
        <div>
          By Ketan Shukla
        </div>
      </div>
    </div>
  </div>
</div>