<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>
          This is the default User Registration template
        </h2>
        <div>
          By Ketan Shukla
        </div>

        <p>
          This template was created so as to re-use it in various projects.
        </p>
        <p>
          The technologies used in this project are
        </p>
        <p>
          Bootstrap
        </p>
        <p>
          Devise Gem
        </p>
        <p>
          Simple Form
        </p>
        <p>
          Sending email in development via Mandrill (You need to register for a free account and get the password)
        </p>
        <p>
          Sending email in production via SendGrid
        </p>
        <p>
          Still to Add:
        </p>
        <p>
          Create roles for users - Admin, Member, Guest
        </p>
        <p>
          List all users in the system when logged in as Admin
        </p>
      </div>
    </div>
  </div>
</div>